.container {
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: yellow;
}

.body-container {}

.backToHome {
  margin: 3rem 0 0;
}